
    <div id="contenedor">
   
    </div>

    <script>

        function TraeProduct() {
            $.ajax(
            {
                url: '@Url.Action("Inde")?currency=' + $('#currencySelec').val(),
                type: 'GET',
                success: function (result) {
                    $('#contenedor').html(result);
                }
             });
        }

        function Buy(id) {
            $.ajax(
            {
                url: '@Url.Action("BuyProducts")?id=' + id + '&currency=' + $('#currencySelec').val(),
                type: 'GET',
                success: function (result) {
                    $('#contenedor').html(result);
                }
             });
        }

        function Carro(curren, unit, nano) {
            $.ajax(
            {
                    url: '/api/cart',
                    type: 'POST',
                    data:
                    {
                        idClient: 'ELid',
                        idProduct: $("#prodId").val(),
                        quantity: $("#quantity").val(),
                        currency: curren,
                        units: unit,
                        nanos: nano
                    },
                    success: function () {
                        document.location = "Home/TheCart";
                    }
                });            
        }

        function shipping() {
            $.ajax({
                url: '@Url.Action("Shipping")',
                type: 'POST',
                data:
                {
                    eltotal: $('#eltotal').text()
                },
                success: function (result) {
                    console.log(result);
                    $('#shippingCost').html(result);
                }
            });
        }
    </script>











