
    <div id="contenedor">
   
    </div>

    <p>If you click on me, I will disappear.</p>
    <p>Click me away!</p>
    <p>Click me too!</p>



    <script>
        $(document).ready(function () {
            $("p").click(function () {
                $(this).hide();
            });
        });


        function TraeProduct() {
            $.ajax(
            {
                url: '@Url.Action("Inde")?currency=' + $('#currencySelec').val(),
                type: 'GET',
                success: function (result) {
                    $('#contenedor').html(result);
                }
             });
        }

        function Buy(id) {
            $.ajax(
            {
                url: '@Url.Action("BuyProducts")?id=' + id + '&currency=' + $('#currencySelec').val(),
                type: 'GET',
                success: function (result) {
                    $('#contenedor').html(result);
                }
             });
        }
    </script>



    @*
            Mi version
        <div class="container">
            <div class="row">
                @foreach (var item in Model.products)
                {
                    <div class="col-md-4 px-2 py-1 my-4 shadow-sm">
                        <div class="card bg-light h-100">
                            <div class="imagebox">
                                <a href="">
                                    <img src="@item.picture" class="card-img-top img-fluid img-thumbnail" style="max-height:100%;max-width:100%" alt="...">
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.name</h5>
                                <a href="~/Producto/Details/@item.id" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>*@












