@model ProductCatalog

<div class="row">
    @foreach (var item in Model.products)
    {
        <div class="col-4">
            <div class="card bg-dark px-2 py-2 my-2">
                <img src="@item.picture" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="~/Producto/Details/@item.id" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
</div>



