@model List<Producto>

<h5 class="text-muted">Products you might like</h5>
<div class="row col-12">
    @foreach (var item in Model)
    {
        <div class="my-2 py-3 col-4">
            @*<div class="col-sm-6 col-md-4 col-lg-3">*@
                <div class="card mb-3 box-shadow">
                    <img onclick="Buy('@item.id')" class="card-img-top border-bottom" alt=""
                         style="width: 100%; height: auto;"
                         src="@item.picture">
                    <div class="card-body text-center py-2">
                        <small class="card-title text-muted">
                            @item.name
                        </small>
                    </div>
                </div>
            @*</div>*@
        </div>
    }
</div>

